<ion-header>
  <ion-toolbar color="success">
    <ion-title>A quien vas a llamar class= </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<body style="background-color:black;">
<section>
    <div class="container">
      
      <div id="content" class="panic">
          <button type="button" class="btn btn-sup btn-panic btn-md">Contacto Favorito</button>
          <button type="button" class="btn btn-main btn-panic btn-xs">Whats app</button>
          <button type="button" class="btn btn-danger btn-panic btn-lg">Emergencia!</button>
      </div>
      </div>
  </section>
  </body>
</ion-content>
