<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¿A quien llamamos?</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <a href="tel:{{user?.userTelFav}}" class="btn"> {{user?.userFav}} </a>
</ion-content>

<ion-content>
  <ion-button href="https://wa.me/{{user?.userTelFav}}?text={{user?.userMessage}} " color="success"> 
    <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-button>
</ion-content>

<ion-content>
  <a href="tel:911" class="btn">Policia</a>
</ion-content>

<ion-content>
  <a href="tel:911" class="btn">Ambulancia</a>
</ion-content>

<ion-content>
  <a href="tel:911" class="btn">Bomberos</a>
</ion-content>

<ion-content>

  <div id="container">
  <button ion-button [routerLink]="['/profile']" class="btn">Ver Perfil</button>
  </div>
</ion-content>


</body>
