<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{user?.userName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-card color="medium">
    <ion-card-content>
      <h2>{{user?.userName}}</h2>
      <p>{{user?.userEmail}}</p>
      <p>{{user?.userPhone}}</p>
      <p>{{user?.createdAt | date}}</p>
      <h2>Contacto Favorito: </h2>
      <p>{{user?.userFav}}</p>
      <h2>Telefono del Contacto:</h2>
      <p>{{user?.userTelFav}}</p>
      <h2>Mensaje Predefinido:</h2>
      <p>{{user?.userMessage}}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" shape =" round" (click)="editProfile()">Editar Perfil</ion-button>


</ion-content>
